<!-- templates/todosforms.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Formulários</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dash/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload/">Formulário JSON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/todosforms/">Todos os Formulários</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container mt-5">
        <div class="row">
            {% for relatorio in relatorios %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Relatório gerado em {{ relatorio.timestamp }}</h5>
                        <p class="card-text">Número de Telefone: {{ relatorio.numero_telefone }}</p>
                        <p class="card-text">Texto Livre: {{ relatorio.texto_livre }}</p>
                        <p class="card-text">Velocidade de Resposta: {{ relatorio.velocidade_resposta }}</p>
                        <p class="card-text">Nível de Engajamento: {{ relatorio.nivel_engajamento }}</p>
                        <p class="card-text">Comprometido: {{ relatorio.comprometido }}</p>
                        <p class="card-text">Apelido: {{ relatorio.apelido }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
